/* This software is in the public domain under CC0 1.0 Universal plus a Grant of Patent License. */

a { color:var(--q-color-primary); text-decoration:none; }
.q-menu a, .q-toolbar a { color:inherit; }

form, fieldset { border:none; display:inline-block; }

body.dev #top { background: #0c1b29!important; }
body.test #top { background: #224422!important; }

.body--dark .q-menu { background-color:black; }
.body--dark img.invertible { -webkit-filter: invert(90%); filter: invert(90%); }

.q-card { background:transparent; }
.q-card__actions h5 { font-size: 1.1rem; display:inline-block; margin-block-start:0; margin-block-end:0; }
.q-dialog .q-card { background-color:white; }
.body--dark .q-dialog .q-card { background-color:black; }

.q-btn--dense .q-btn__wrapper { padding: 0.285em 0.57em; }
.q-btn .q-icon, .q-btn .q-spinner { font-size: 20px; } /* was 1.715em ~= 24px */

form.q-form { width:100%; }

/* move field lable up to 'notch' in outline (like https://material.io/components/text-fields) */
.q-field--dense .q-field__label { top:0; padding-left:4px; padding-right:4px; background-color:white; }
.body--dark .q-field--dense .q-field__label { background-color:black; }
.q-field--dense.q-field--float .q-field__label { right:auto; } /* make notch fit text, not full width */
.q-field--labeled.q-field--dense .q-field__native { padding-top:10px; } /* move input text up 4px OOTB padding-top:14px */

/* TODO: move drop-down input up 4px */
.q-field--auto-height.q-field--dense.q-field--labeled .q-field__control-container { padding-top:10px; }
.q-field--labeled.q-field--dense .q-field__native { padding-top:6px; } /* OOTB padding-top:10px */

/* TODO fix blue focus border on top of label instead of behind */

@media print {
    *, *:before, *:after { background: transparent none !important; }
    body { background: white none !important; font-size: 10px; }

    button, a.q-btn { display: none !important; }
    #top, #footer { display: none; }

    tbody>tr:nth-child(even)>td { background-color: #EEEEEE !important; }
}
