/* This software is in the public domain under CC0 1.0 Universal plus a Grant of Patent License. */

a { color:var(--q-color-primary); text-decoration:none; }
.q-menu a, .q-toolbar a { color:inherit; }

form, fieldset { border:none; display:inline; }

body.dev #top { background: #0c1b29!important; }
body.test #top { background: #224422!important; }

.body--dark .q-menu { background-color:black; }
.body--dark img.invertible { -webkit-filter: invert(90%); filter: invert(90%); }

.q-card { background:transparent; }
.q-card__actions h5 { font-size: 1.1rem; display:inline-block; margin-block-start:0; margin-block-end:0; }
.q-dialog .q-card { background-color:white; }
.body--dark .q-dialog .q-card { background-color:black; }

.q-btn--dense .q-btn__wrapper { padding: 0.285em 0.57em; }
.q-btn .q-icon, .q-btn .q-spinner { font-size: 18px; } /* was 1.715em ~= 24px */

form.q-form { width:100%; }

/* need small (6px) top margin so floating label does not overlap elements above, but to make all q-field consistent apply too all (not just .q-field--labeled.q-field--dense) */
.q-field--dense { margin:6px 0 6px 0; }
/* move field lable up to 'notch' in outline (like https://material.io/components/text-fields) */
.q-field--dense .q-field__label { top:0; padding-left:4px; padding-right:4px; background-color:white; }
.body--dark .q-field--dense .q-field__label { background-color:black; }
/* make notch fit text, not full width */
.q-field--dense.q-field--float .q-field__label { right:auto; }
/* move input text up 6px OOTB padding-top:14px */
.q-field--labeled.q-field--dense .q-field__native { padding-top:8px; }
/* move drop-down input up 6px; this padding-top defaults to 14px, have to move up 12px to handle wrapped field padding */
.q-field--auto-height.q-field--dense.q-field--labeled .q-field__control-container { padding-top:0; }
/* fix blue focus border on top of label instead of behind */
.q-field--focused .q-field__label { z-index:10; }

h4, .text-h4 { font-size: 1.5rem; margin-block-start:0.25em; margin-block-end:0.25em; }
.text-success { color:var(--q-color-positive); }
.text-danger { color:var(--q-color-negative); }

.big-row { display:flex; flex-wrap:wrap; justify-content:flex-start; align-content:center; }
.big-row-item {}

@media print {
    *, *:before, *:after { background: transparent none !important; }
    body { background: white none !important; font-size: 10px; }

    button, a.q-btn { display: none !important; }
    #top, #footer { display: none; }

    tbody>tr:nth-child(even)>td { background-color: #EEEEEE !important; }
}
